head {
    background-color: green;
    text-align: center;
    padding: 20px;
}



body {
    background: linear-gradient(white,lightblue);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 500px;
    height: 800px;
}

a:hover{
    background-color: white;
    color:black;
}

.myhead {
    text-align: center;
    background-image: url(images/banner.jpg);  
    font-weight: bold; 
    z-index: 1;
    position: relative;
    font-size: 3.0em;
    color: white;
}

.myhead .myimg {
    z-index: -1;
    position: absolute;
    opacity: .2;
}

.block_main{
    float:left;
    width:75%;
    border:1px solid #ccc;
    padding:20px;
    box-sizing:border-box;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    box-sizing:border-box;
    font-size: 14pt;
    overflow-wrap: break-word;
    word-break: break-word;

}

.block_full{
    float:left;
    width:100%;
    border:1px solid #ccc;
    padding:10px;
    font-size: 14pt;
    box-sizing:border-box;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

h3 {
    text-align: center;
    font-size:40px;
}

